.hide {
    display: none !important; 
}

.white {
    background-color: white !important;
}

.level_panel {
    position: absolute;
    /* border: 3px solid blue; */
    left: 100%;
    top: 0%;
    display: flex;
    padding:0 2px;
    min-width: 320px;
    height: 42px;
    display: flex;
    z-index: 999;
    pointer-events: all;
}

.level_panel .button {
    min-width: 42px;
    font-size: 12px;
    margin-bottom: 0;
    margin-right:2px;
}

.testScene_panel {
    position: absolute;
    /* border: 3px solid blue; */
    left: 100%;
    top: 46.3%;
    height: 35px;
    display: flex;
    z-index: 999;
    width: auto;  
    pointer-events: all;
}

.wind_panel {
    position: absolute;
    left: 100%;
    top: 35%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 170px; /* Adjust as needed */
    margin: 20px auto;
    padding: 10px;
}

.wind_button {
    width: 50px; /* Adjust width as needed */
    z-index: 999; /* Ensure buttons are visible */
    border: 2px solid white;
    color: rgb(255, 255, 255); /* Set text color to white */
    background-color: #4c4c4c; /* Set background color to black */
    padding: 2px;
    pointer-events:all;
}

.environment_button_holder {
    position: absolute;
    top: 2%;
    left: 15%;
    /* border: 3px solid blue; */
    display: flex;
    z-index: 999;
    width: 240px;
    height: 32px; 
    padding:2px;
    background:rgba(255,255,255,0.5);
    border-radius: 4px;
    pointer-events: none;
}

.environment_button {
    /* border: 3px solid black; */
    z-index: 999;
    border:none;
    flex:1;
    border-radius: 4px;
    background-color: transparent !important;
    pointer-events: all;
    margin-right:2px;
    cursor:pointer;
    /* transition: width 0.1s ; 
    transition: height 0.1s ;  */
}
.environment_button:last-child {
    margin-right:0;
}

.environment_button:hover {
    background-color: rgba(0,0,0,0.25) !important;
}

.weather_panel {
    position: absolute;
    left: 40%;
    top: 2%;
    display: flex;
    width: 240px;
    height: 32px; 
    padding:2px;
    background:rgba(255,255,255,0.5);
    border-radius: 4px;
    
    /* border: 3px solid blue; */
}

.weather_button {
    border: none;
    background-color:transparent !important;
    z-index: 999;
    border-radius: 4px;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2px;
    pointer-events: all;
    cursor: pointer;
}
.weather_button:last-child {
    margin-right:0;
}
.weather_button img {
    width:20px;
}

.weather_button:hover {
    background-color: rgba(0,0,0,.25) !important;
}


.weather_img {
    width: 30px; /* Set the width of the icon */
    height: auto; /* Maintain aspect ratio */
}

@keyframes colorLoop {
    0% {
        background-color: grey;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: grey;
    }
}

.wind_button:hover {
    animation: colorLoop 1s infinite; /* Adjust duration as needed */
}